In [18]:
#step1 : reading json

import pandas as pd


# Load JSON data into a DataFrame
data = pd.read_json("customers.json")

# Display the DataFrame
data.head

<bound method NDFrame.head of      customer_id     customer_name      country           city
0           9780      Jessica Hart   Martinique  South William
1           9169         Amy Clark   Kazakhstan     Davisville
2           6631  Danielle Elliott      Armenia     East Danny
3           8772     Robin Mendoza       Uganda    Johnsonbury
4           8913    Abigail Miller      Namibia  Wrightchester
..           ...               ...          ...            ...
995         6357    Jessica Castro     Dominica     Deannastad
996          244    Cheryl Ramirez       Malawi  Martinezmouth
997         4490   Luis Strickland        Italy     Oneilltown
998         2984    Jennifer Kelly      Bahamas    Xavierville
999         8760    Anthony Wilson  Switzerland      Torreston

[1000 rows x 4 columns]>

In [19]:
print(data.columns)

Index(['customer_id', 'customer_name', 'country', 'city'], dtype='object')

In [20]:
new_df = data.dropna() 
print(data.columns)

Index(['customer_id', 'customer_name', 'country', 'city'], dtype='object')

In [21]:
print(data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [23]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1000 non-null   int64
 1   customer_name  1000 non-null   object
 2   country        1000 non-null   object
 3   city           1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB
None

In [24]:
print(data.describe())

       customer_id
count  1000.000000
mean   5053.297000
std    2792.627256
min     102.000000
25%    2662.000000
50%    5156.000000
75%    7395.000000
max    9991.000000

In [26]:
#transaction data set
transaction_data = pd.read_json('transaction_logs.json')

In [27]:
print(transaction_data.columns)

Index(['order_id', 'customer_id', 'product_id', 'product_name',
       'product_category', 'payment_type', 'qty', 'price', 'datetime',
       'ecommerce_website_name', 'payment_txn_id', 'payment_txn_success',
       'failure_reason'],
      dtype='object')

In [28]:
new_df = transaction_data.dropna() 
print(transaction_data.columns)

Index(['order_id', 'customer_id', 'product_id', 'product_name',
       'product_category', 'payment_type', 'qty', 'price', 'datetime',
       'ecommerce_website_name', 'payment_txn_id', 'payment_txn_success',
       'failure_reason'],
      dtype='object')

In [29]:
print(transaction_data.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [30]:
print(transaction_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                10000 non-null  int64
 1   customer_id             10000 non-null  int64
 2   product_id              10000 non-null  int64
 3   product_name            10000 non-null  object
 4   product_category        10000 non-null  object
 5   payment_type            10000 non-null  object
 6   qty                     10000 non-null  int64
 7   price                   10000 non-null  int64
 8   datetime                10000 non-null  datetime64[ns]
 9   ecommerce_website_name  10000 non-null  object
 10  payment_txn_id          10000 non-null  object
 11  payment_txn_success     10000 non-null  object
 12  failure_reason          10000 non-null  object
dtypes: datetime64[ns](1), int64(5), object(7)
memory usage: 1015.8+ KB
None

In [31]:
print(transaction_data.describe())

          order_id   customer_id   product_id           qty         price  \
count  10000.00000  10000.000000  10000.00000  10000.000000  10000.000000
mean    5000.50000   5540.854400   5153.96520     25.524800  49682.003700
min        1.00000    109.000000    201.00000      1.000000     10.000000
25%     2500.75000   3141.500000   2709.75000     13.000000  24704.750000
50%     5000.50000   5989.000000   5195.00000     26.000000  49245.500000
75%     7500.25000   8341.500000   7599.00000     38.000000  74755.000000
max    10000.00000   9991.000000   9996.00000     50.000000  99989.000000
std     2886.89568   2776.686488   2828.45628     14.456946  28860.567215

                            datetime
count                          10000
mean   2023-01-25 09:32:06.897900288
min              2021-07-24 00:13:42
25%       2022-04-29 00:09:34.500000
50%              2023-01-22 13:19:27
75%              2023-10-28 13:48:13
max              2024-07-23 08:41:09
std                              NaN

In [40]:
# database connections

import mysql.connector
db = mysql.connector.connect(
 host = "localhost",
 user="root",
 password = "Venkatasai@99",
 database = "p0"
)

In [41]:
#Viewing all the databases present
cursor = db.cursor(buffered=2)
cursor.execute("show databases")
result=cursor.fetchall()
for row in result:
    print(row)

('db',)
('information_schema',)
('kvs',)
('mysql',)
('p0',)
('performance_schema',)
('project_p0',)
('sys',)

In [42]:
#creating a new database
cursor.execute("create database revP0")
result=cursor.fetchall()
for row in result:
    print(row)

In [43]:
#using the database
cursor.execute("use revP0")

In [45]:
#Designing a normalized database schema based on the insights gained 
#from EDA. 
#Ensuring that the schema adheres to database normalization principles
#to avoid redundancy and ensure data integrity. 
cursor.execute(
'''CREATE TABLE Customers (
 customer_id INT PRIMARY KEY,
 customer_name VARCHAR(255) NOT NULL,
 country VARCHAR(100),
 city VARCHAR(100)
);''')
cursor.execute(
'''CREATE TABLE Products (
 product_id INT PRIMARY KEY,
 product_name VARCHAR(255) NOT NULL,
 product_category VARCHAR(100)
);''')

cursor.execute(
'''CREATE TABLE Orders (
 order_id INT PRIMARY KEY,
 customer_id INT,
 product_id INT,
 qty INT NOT NULL,
 price DECIMAL(10, 2) NOT NULL,
 datetime DATETIME NOT NULL,
 ecommerce_website_name VARCHAR(255),
 FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
 FOREIGN KEY (product_id) REFERENCES Products(product_id)
);
''')
cursor.execute('''
CREATE TABLE Payments (
 payment_id INT PRIMARY KEY AUTO_INCREMENT,
 order_id INT,
 payment_type VARCHAR(50),
 payment_txn_id VARCHAR(100),
 payment_txn_success BOOLEAN,
 failure_reason TEXT,
 FOREIGN KEY (order_id) REFERENCES Orders(order_id)
); ''')

In [47]:
#displaying all the tables
cursor.execute("show tables")
result=cursor.fetchall()
for row in result:
    print(row)

('customers',)
('orders',)
('payments',)
('products',)

In [53]:
import pandas as pd
#1. Firstly, loading the JSON data using pandas:
# Load JSON data
customers_df = pd.read_json('customers.json')
transaction_logs_df = pd.read_json('transaction_logs.json')
transaction_logs_df['datetime'] = pd.to_datetime(transaction_logs_df['datetime'])
transaction_logs_df['payment_txn_success'] = transaction_logs_df['payment_txn_success'].astype(bool)

In [58]:
import pandas as pd
import mysql.connector
import time

# Load JSON data
customers_df = pd.read_json('customers.json')
transaction_logs_df = pd.read_json('transaction_logs.json')

# Convert datetime column to correct format
transaction_logs_df['datetime'] = pd.to_datetime(transaction_logs_df['datetime'])
transaction_logs_df['payment_txn_success'] = transaction_logs_df['payment_txn_success'].astype(bool)

# Connection parameters
conn_params = {
    'host': 'localhost',
    'user': 'root',  # Replace with your MySQL username
    'password': 'Venkatasai@99',  # Replace with your MySQL password
    'database': 'revP0'  # Replace with your MySQL database name
}

MAX_RETRIES = 5
RETRY_DELAY = 2  # seconds

def connect_to_db():
    """Establishes connection to the MySQL database."""
    return mysql.connector.connect(**conn_params)

def insert_customers(cursor):
    """Inserts data into Customers table."""
    for index, row in customers_df.iterrows():
        cursor.execute("""
            INSERT INTO Customers (customer_id, customer_name, country, city)
            VALUES (%s, %s, %s, %s)
            ON DUPLICATE KEY UPDATE
            customer_name = VALUES(customer_name),
            country = VALUES(country),
            city = VALUES(city)
        """, (row['customer_id'], row['customer_name'], row['country'], row['city']))

def insert_products(cursor):
    """Inserts data into Products table."""
    products_df = transaction_logs_df[['product_id', 'product_name', 'product_category']].drop_duplicates()
    for index, row in products_df.iterrows():
        cursor.execute("""
            INSERT INTO Products (product_id, product_name, product_category)
            VALUES (%s, %s, %s)
            ON DUPLICATE KEY UPDATE
            product_name = VALUES(product_name),
            product_category = VALUES(product_category)
        """, (row['product_id'], row['product_name'], row['product_category']))

def insert_orders(cursor):
    """Inserts data into Orders table."""
    for index, row in transaction_logs_df.iterrows():
        cursor.execute("""
            INSERT INTO Orders (order_id, customer_id, product_id, qty, price, datetime, ecommerce_website_name)
            VALUES (%s, %s, %s, %s, %s, %s, %s)
        """, (row['order_id'], row['customer_id'], row['product_id'], row['qty'], row['price'], row['datetime'], row['ecommerce_website_name']))

def insert_payments(cursor):
    """Inserts data into Payments table."""
    for index, row in transaction_logs_df.iterrows():
        cursor.execute("""
            INSERT INTO Payments (order_id, payment_type, payment_txn_id, payment_txn_success, failure_reason)
            VALUES (%s, %s, %s, %s, %s)
        """, (row['order_id'], row['payment_type'], row['payment_txn_id'], row['payment_txn_success'], row['failure_reason']))

def insert_data():
    """Main function to insert data into all tables."""
    for attempt in range(MAX_RETRIES):
        try:
            # Connect to MySQL
            conn = connect_to_db()
            cursor = conn.cursor()

            # Insert data into tables
            insert_customers(cursor)
            insert_products(cursor)
            insert_orders(cursor)
            insert_payments(cursor)

            # Commit the transaction
            conn.commit()
            print("Data inserted successfully.")
            break  # Exit loop if successful

        except mysql.connector.Error as err:
            print(f"Error: {err}")
            if err.errno == 1045:  # Access denied
                print("Access denied for user. Please check credentials.")
                break  # Stop retrying
            elif err.errno == 1205:  # Lock wait timeout
                print(f"Lock wait timeout exceeded. Retrying ({attempt + 1}/{MAX_RETRIES})...")
            elif err.errno == 2006:  # MySQL server has gone away
                print("MySQL server has gone away. Reconnecting...")
            elif err.errno == 2055:  # Cursor is not connected
                print("Cursor is not connected. Reconnecting...")
            time.sleep(RETRY_DELAY)

            if 'conn' in locals() and conn.is_connected():
                conn.rollback()  # Rollback the transaction
        finally:
            # Ensure resources are cleaned up
            if 'conn' in locals() and conn.is_connected():
                cursor.close()
                conn.close()

def execute_query(query):
    """Executes a given SQL query and returns the result as a pandas DataFrame."""
    conn = None
    cursor = None
    try:
        # Connect to MySQL
        conn = connect_to_db()
        cursor = conn.cursor(dictionary=True)  # Use dictionary cursor for easy access
        cursor.execute(query)
        records = cursor.fetchall()
        return pd.DataFrame(records)

    except mysql.connector.Error as err:
        print(f"Error: {err}")
        return None

    finally:
        # Ensure resources are cleaned up
        if cursor is not None:
            cursor.close()
        if conn is not None:
            conn.close()


def test_data_integrity():
    """Test queries to validate data integrity."""
    # 1. Testing Customers Table Record Count
    query = "SELECT COUNT(*) AS count FROM Customers"
    df = execute_query(query)
    if df is not None:
        print(f"Customers table record count: {df.iloc[0]['count']}")

    # 2. Testing Products Table Record Count
    query = "SELECT COUNT(*) AS count FROM Products"
    df = execute_query(query)
    if df is not None:
        print(f"Products table record count: {df.iloc[0]['count']}")

    # 3. Testing Orders Table Record Count
    query = "SELECT COUNT(*) AS count FROM Orders"
    df = execute_query(query)
    if df is not None:
        print(f"Orders table record count: {df.iloc[0]['count']}")

    # 4. Testing Payments Table Record Count
    query = "SELECT COUNT(*) AS count FROM Payments"
    df = execute_query(query)
    if df is not None:
        print(f"Payments table record count: {df.iloc[0]['count']}")

    # 5. Testing Specific Customer Data
    query = "SELECT * FROM Customers WHERE customer_id = 1731"
    df = execute_query(query)
    if df is not None:
        print("Specific customer data found:" if not df.empty else "No record found.")
        print(df)

    # 6. Testing Specific Product Data
    query = "SELECT * FROM Products WHERE product_id = 2409"
    df = execute_query(query)
    if df is not None:
        print("Specific product data found:" if not df.empty else "No record found.")
        print(df)

    # 7. Testing Specific Orders Data
    query = "SELECT * FROM Orders WHERE order_id = 1"
    df = execute_query(query)
    if df is not None:
        print("Specific order data found:" if not df.empty else "No record found.")
        print(df)

    # 8. Testing Specific Payments Data
    query = "SELECT * FROM Payments WHERE order_id = 1"
    df = execute_query(query)
    if df is not None:
        print("Specific payment data found:" if not df.empty else "No record found.")
        print(df)

    # 9. Testing Orders with Missing Customers
    query = """
    SELECT * FROM Orders o
    LEFT JOIN Customers c ON o.customer_id = c.customer_id
    WHERE c.customer_id IS NULL
    """
    df = execute_query(query)
    if df is not None:
        print("Foreign key constraints are correct." if df.empty else "Foreign key constraints issue found:")
        print(df)

    # 10. Testing Orders with Missing Products
    query = """
    SELECT * FROM Orders o
    LEFT JOIN Products p ON o.product_id = p.product_id
    WHERE p.product_id IS NULL
    """
    df = execute_query(query)
    if df is not None:
        print("Foreign key constraints are correct." if df.empty else "Foreign key constraints issue found:")
        print(df)

    # 11. Testing Duplicate Products
    query = """
    SELECT product_id, COUNT(*) as count
    FROM Products
    GROUP BY product_id
    HAVING COUNT(*) > 1
    """
    df = execute_query(query)
    if df is not None:
        print("No duplicate records found in Products table." if df.empty else "Duplicate records found in Products table:")
        print(df)

    # 12. Testing Duplicate Orders
    query = """
    SELECT order_id, COUNT(*) as count
    FROM Orders
    GROUP BY order_id
    HAVING COUNT(*) > 1
    """
    df = execute_query(query)
    if df is not None:
        print("No duplicate records found in Orders table." if df.empty else "Duplicate records found in Orders table:")
        print(df)

# Run data insertion and tests
insert_data()
test_data_integrity()

Data inserted successfully.
Customers table record count: 1000
Products table record count: 6281
Orders table record count: 10000
Payments table record count: 10000
Specific customer data found:
   customer_id    customer_name country      city
0         1731  Angie Dodson MD  Belize  Smithton
Specific product data found:
   product_id product_name product_category
0        2409   Upon sport           Sports
Specific order data found:
   order_id  customer_id  product_id  qty     price            datetime  \
0         1         1731        8609   25  64216.00 2021-07-26 20:16:14

  ecommerce_website_name
0        www.bestbuy.com
Specific payment data found:
   payment_id  order_id payment_type payment_txn_id  payment_txn_success  \
0           1         1       Wallet       a395e8c7                    1

  failure_reason
0   Card Expired
Foreign key constraints are correct.
Empty DataFrame
Columns: []
Index: []
Foreign key constraints are correct.
Empty DataFrame
Columns: []
Index: []
No duplicate records found in Products table.
Empty DataFrame
Columns: []
Index: []
No duplicate records found in Orders table.
Empty DataFrame
Columns: []
Index: []