In [1]:
import pandas as pd 

# Load customer data from JSON file
customer_data = pd.read_json('customers.json')

# Display the first few rows of the customer data
print(customer_data.head())

# Display column names
print(customer_data.columns)

   customer_id     customer_name     country           city
0         9780      Jessica Hart  Martinique  South William
1         9169         Amy Clark  Kazakhstan     Davisville
2         6631  Danielle Elliott     Armenia     East Danny
3         8772     Robin Mendoza      Uganda    Johnsonbury
4         8913    Abigail Miller     Namibia  Wrightchester
Index(['customer_id', 'customer_name', 'country', 'city'], dtype='object')

In [2]:
# Load transaction data from JSON file
transaction_data = pd.read_json('transaction_logs.json')

# Display the last few rows of the transaction data
print(transaction_data.tail())

# Display column names
print(transaction_data.columns)

      order_id  customer_id  product_id         product_name product_category  \
9995      9996         1496        9676  Range home & kitche   Home & Kitchen
9996      9997         7288        9927             Once toy             Toys
9997      9998         8381        3852          Human beaut           Beauty
9998      9999         5494        7324          Light beaut           Beauty
9999     10000         1490        6547      Source furnitur        Furniture

          payment_type  qty  price            datetime ecommerce_website_name  \
9995            Wallet   39  61151 2024-03-17 09:06:05            www.ebay.in
9996  Internet Banking   44  53963 2024-06-17 08:04:22          www.amazon.in
9997               UPI   48  26032 2023-02-05 04:20:30       www.tatacliq.com
9998               UPI   17  28277 2024-02-17 03:05:57           www.etsy.com
9999               UPI   34  91020 2023-01-11 03:02:53       www.flipkart.com

     payment_txn_id payment_txn_success      failure_reason
9995       03c982f7                   Y
9996       46bd0811                   N        Blocked Card
9997       d115279c                   Y
9998       6d1628b3                   N        Card Expired
9999       224381cd                   N  Insufficient Funds
Index(['order_id', 'customer_id', 'product_id', 'product_name',
       'product_category', 'payment_type', 'qty', 'price', 'datetime',
       'ecommerce_website_name', 'payment_txn_id', 'payment_txn_success',
       'failure_reason'],
      dtype='object')

In [3]:
# Remove empty cells
cleaned_customer_data = customer_data.dropna()

# Check for duplicates
print(cleaned_customer_data.duplicated())

# Display basic information about the DataFrame
print(cleaned_customer_data.info())

# Generate summary statistics for numerical columns
print(cleaned_customer_data.describe())

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1000 non-null   int64
 1   customer_name  1000 non-null   object
 2   country        1000 non-null   object
 3   city           1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB
None
       customer_id
count  1000.000000
mean   5053.297000
std    2792.627256
min     102.000000
25%    2662.000000
50%    5156.000000
75%    7395.000000
max    9991.000000

In [4]:
# Convert 'datetime' column to datetime format
transaction_data['datetime'] = pd.to_datetime(transaction_data['datetime'])

# Convert 'payment_txn_success' column to boolean
transaction_data['payment_txn_success'] = transaction_data['payment_txn_success'].astype(bool)

# Remove empty cells
cleaned_transaction_data = transaction_data.dropna()

# Check for duplicates
print(cleaned_transaction_data.duplicated())

# Display basic information about the DataFrame
print(cleaned_transaction_data.info())

# Generate summary statistics for numerical columns
print(cleaned_transaction_data.describe())

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                10000 non-null  int64
 1   customer_id             10000 non-null  int64
 2   product_id              10000 non-null  int64
 3   product_name            10000 non-null  object
 4   product_category        10000 non-null  object
 5   payment_type            10000 non-null  object
 6   qty                     10000 non-null  int64
 7   price                   10000 non-null  int64
 8   datetime                10000 non-null  datetime64[ns]
 9   ecommerce_website_name  10000 non-null  object
 10  payment_txn_id          10000 non-null  object
 11  payment_txn_success     10000 non-null  bool
 12  failure_reason          10000 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(5), object(6)
memory usage: 947.4+ KB
None
          order_id   customer_id   product_id           qty         price  \
count  10000.00000  10000.000000  10000.00000  10000.000000  10000.000000
mean    5000.50000   5540.854400   5153.96520     25.524800  49682.003700
min        1.00000    109.000000    201.00000      1.000000     10.000000
25%     2500.75000   3141.500000   2709.75000     13.000000  24704.750000
50%     5000.50000   5989.000000   5195.00000     26.000000  49245.500000
75%     7500.25000   8341.500000   7599.00000     38.000000  74755.000000
max    10000.00000   9991.000000   9996.00000     50.000000  99989.000000
std     2886.89568   2776.686488   2828.45628     14.456946  28860.567215

                            datetime
count                          10000
mean   2023-01-25 09:32:06.897900288
min              2021-07-24 00:13:42
25%       2022-04-29 00:09:34.500000
50%              2023-01-22 13:19:27
75%              2023-10-28 13:48:13
max              2024-07-23 08:41:09
std                              NaN

In [5]:
import mysql.connector

# Connect to MySQL database
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Venkatasai@99",
    database="kvs"
)

# Create a cursor object
cursor = db.cursor(buffered=True)

# View all databases
cursor.execute("SHOW DATABASES")
databases = cursor.fetchall()
for db in databases:
    print(db)

('db',)
('information_schema',)
('kvs',)
('mysql',)
('p0',)
('performance_schema',)
('project_p0',)
('revp0',)
('sys',)

In [9]:
_revstore

ProgrammingError: 2055: Cursor is not connected